html {
    color-scheme: light dark;
}

body {
    @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100;
}

/* Customizações adicionais */
@layer components {
    .btn-primary {
        @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition;
    }
}